.hamburger {
    padding: 0;
    scale: 0.75;
    transform: translateY(5px);
    @media screen and (min-width: 1024px) {
      display: none;
    }
  }

  .hamburger:hover,
  .hamburger.is-active:hover {
    opacity: 1;
  }

  .hamburger-inner,
  .hamburger-inner::after,
  .hamburger-inner::before {
    background-color: currentColor !important;
  }

  .hamburger.is-active {
    .hamburger-inner,
    .hamburger-inner::after,
    .hamburger-inner::before {
      background-color: currentColor;
    }
  }
