@use '../mixins/mixins' as *;
@use '../functions/functions' as *;
.Contact{
  --bg: hsl(217, 51%, 9%);
  --color: hsl(204, 100%, 50%);
}
.Contact{
  // background: lime;
  padding: 0 1.5em;
  padding-top: 3em;
  padding-bottom: 5em;
  @media (width >= 1024px) and (orientation: landscape){
    padding: 3em 10%;
    display: grid;
    grid-template-columns: 1fr get-vw(800px);
    align-items: center;column-gap: 5vw;
  }
  &__info{
    h2{
      text-align: center;
      font-size: 1em;
      font-weight: normal;
    }
    p{
      margin-top: 2rem;
      text-align: center;
      font-size: 6vw;
      @media (width >= 1024px) and (orientation: landscape){
        font-size: get-vw(40px);
      }
    }
    ul{
      display: flex;
      justify-content: center;
      margin-top: 2rem;
      gap: 1em;
      a{
        font-size: 1.2em;
        border-radius: 50%;
        box-shadow: 0 0 3px #fff;
        padding: .5em;
        &:hover{
          color: var(--color);
        }
        // background: red;
      };
    }
  }
  &__form{

    background: var(--bg);
    padding: 1.5em;
    margin-top: 2em;
    border-radius: 10px;
    font-size: 1m;
    .input-group{
      margin-bottom: 1em;
      border: 1px solid rgba(#fff,.3);
      position: relative;
      border-radius: .3rem;
      label{
        position: absolute;
        left: 1em;
        top: 50%;
        transform: translateY(-50%);
        font-size: inherit;
        transition: all .3s ease;
        background: transparent;

      }
      input, textarea{
        background: transparent;
        line-height: 2.5em;
        height: 2.5em;
        width: 100%;
        font-family: inherit;
        font-size: inherit;
        color: #fff;
        padding: 0 1em;
        &:focus{
          outline: none;
          box-shadow: none;
        }
        &:focus, &:not(:placeholder-shown) {
          ~label{
            background: var(--bg);
            // background: red;
            top: 0;
            font-size: .6em;
            padding: 0 .5em;
          }
        }
      }
      textarea{
        resize: none;
        // height: 100px;
        padding: 1em;
        line-height: 1.1;
        overflow: hidden;
        padding: .8em 1em;
        transition: height .3s ease;
        &:focus, &:not(:placeholder-shown) {
          height: 80px;
        }

      }
    }
    button{
      background: var(--color);
      color: var(--bg);
      // padding: 1em;
      line-height: 2.5em;
      height: 2.5em;
      width: 100%;
      text-align: center;
      border-radius: .3rem;
      font-weight: 700;
      text-transform: uppercase;
      transition: scale .2s linear;
      svg{
        display: block;
        margin: 0 auto;
        height: 1.5em;
        width: 1.5em;
        // margin-left: .5em;;
        // color: #fff;
      }
      &:active{
        scale: .9;
        // background: red;
      }
      &[disabled]{
        background: #aaa;
      }
    }
  }
}
