---
import '@fontsource-variable/inter';
import '@/scss/main.scss';
import Head from '@/components/seo/Head.astro';
import Header from '@/components/Header.astro';
---

<!doctype html>
<html lang="es">
  <head>
		<Head/>
	</head>
	<body>
    <Header/>
    <main>
      <slot />
    </main>
	</body>
</html>
<script>
  const h = window.innerHeight
  const w = window.innerWidth
    const densidad = window.devicePixelRatio;
  console.log(`${w} * ${h} densidad: ${densidad}`)
</script>
